*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #AAB5B1;
}

section.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.box{
    width: 25vw;
    min-width: 22em;
    height: 60vh;
    max-height: 30em;
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}

img.seta{
    width: 25px;
    margin-top: 1rem;
    position: absolute;
    left: 15px;
}

h3.messege{
    margin: 3em 1em 0 1em;
}

div form{
    display: flex;
    flex-direction: column;
}

label,input:not(:last-child){
    margin-left: 1rem;
}

form label.login-senha{
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.436);
}

form input.entrada-dados{
    width: 23vw;
    min-width: 21em;
    height: 2em;
    font-size: 1em;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none; /* Remove as bordas ao focar*/
}

#email{
    margin-bottom: 1em;
}

div.manter-login{
    height: 20px;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

div input.checkbox{
    width: 20px;
    height: 20px;
}

label.salvar-login{
    margin-left: 5px;
    font-size: 14px;
}

input.botao{
    width: 23vw;
    min-width: 23em;
    height: 2.7rem;
    background-color: #216A56;
    color: white;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: none;
}

div.centralizar-link{
    display: flex;
    justify-content: center;
}

a.click-here{
    text-decoration: none;
    color: #AAB5B1;
}

/*CELLPHONE*/
@media screen and (max-width: 767px) {

    h3.messege{
        margin-top: 3.3em;
        margin-bottom: 1em;
    }
}

/*TABLET*/
@media screen and (min-width: 768) and (max-width: 1023px) {

}