:root {
    --primary-color: #40956A;
    --second-color: #0D3E22;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

header.header{
    background-color: var(--primary-color);
    display: flex;
    box-sizing: border-box;
    height: 3rem;

    & nav.navbar{
        display: none;
    }
    ul.menu{
        display: flex;
        list-style: none;
        gap: .5rem;

        & li{

            & a{
                display: block;
                padding: .5rem;
            }
        }

        div.sidebar{
            display: flex;
            justify-content: center;
        }
    }

    & a{
        color: black;
        text-decoration: none;
    }

    & a:hover:not(#title){
        background-color: var(--second-color);
    }
}

/* .navbar {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    position: relative;
} */

/* .menu-icon {
    width: 100%;
    font-size: 30px;
    cursor: pointer;
    color: white;
} */

/* .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
} */

/* .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
} */

/* .content {
    padding: 20px;
    transition: margin-left 0.5s;
}

.content.open {
    margin-left: 250px; 
}

.menu-icon.open {
    margin-left: 250px; 
} */